.collapsible-content p:empty,
.collapsible-content p:empty::before,
.collapsible-content p:empty::after {
  display: none;
}

.collapsible{
    border: 1px solid #000;
}

@media screen and (min-width: 801px) {

    .collapsible-container {
        margin-bottom: 20px;
        max-width: 550px;
      }
      
      .collapsible {
        margin-bottom: -1px;
      }
      
      .collapsible-header {
        background-color: #f2f2f2;
        color: #333;
        padding: 10px;
        cursor: pointer;
        border: 1px solid #ccc;
        border-bottom: none;
        font-weight: 700;
        font-family: Montserrat;
        line-height: 17.07px;
        font-size: 14px;
      }
      
      .collapsible-content {
        display: none;
        padding: 10px;
        border: 1px solid #ccc;
        border-top: none;
        max-height: 243px;
        overflow-y: auto;
        margin-top: 0;
      }
      
      .collapsible-content.show {
        display: block;
      }

      .collapsible-content p {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 17.07px;
        font-weight: 400;
      }
}

@media screen and (max-width: 800px){

    .collapsible-container {
        margin-bottom: 20px;
        max-width: 365px;
      }
      
      .collapsible {
        margin-bottom: -1px;
      }
      
      .collapsible-header {
        background-color: #f2f2f2;
        color: #333;
        padding: 10px;
        cursor: pointer;
        border: 1px solid #ccc;
        border-bottom: none;
        font-weight: 700;
        font-family: Montserrat;
        line-height: 17.07px;
        font-size: 14px;
      }
      
      .collapsible-content {
        display: none;
        padding: 10px;
        border: 1px solid #ccc;
        border-top: none;
        max-height: 243px;
        overflow-y: auto;
        margin-top: 0;
      }
      
      .collapsible-content.show {
        display: block;
      }

    .collapsible-content p {
        font-family: Montserrat;
        font-size: 12px;
        line-height: 14.63px;
        font-weight: 400;
      }
}